.bannerContainer {


    background-color: rgb(255, 255, 255);
    padding: 0;
}
.bannerContainer hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner {
    background-color: rgb(143, 157, 152);
    color: white;
    font-size: 25pt;
    height: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}