.Font {
  font-family: 'Titillium Web', sans-serif;
}

.Txt-Blanco {
  color: "blanco";
}

.Nav-Style {
  height: 50px;
  background: #7e7e7e;
}

.header-style {
  height: 200px;
  background: #3399FF;
}

.btn-buscar {
  color: #999999;
}

.abajo {
  align-items: flex-end;
}

.navegacion {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.btn-celeste {
  border-radius: 8px;
  color: white;
  font-weight: 600;
}
.btn-celeste:hover {
  background: #3399FF;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}
.btn-rojo {
  border-radius: 8px;
  color: white;
  font-weight: 600; 
}
.btn-rojo:hover {
  background: #eb7609;
  border-radius: 8px;
  color: white;
  font-weight: 600; 
}

.btn-verde {
  border-radius: 8px;
  color: white;
  font-weight: 600;
}
.btn-verde:hover {
  background: #15b600;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  
}